@keyframes sunUp {
    0% {
      top: -40px;   
    }
    50% {
      top: -150px;
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
      top: -150px;
    }
  }
   
  @keyframes shine {
    30% {
      filter: brightness(0.5);
    }
    40% {
      filter: brightness(1);
    }
    50% {
      filter: brightness(1.5);
    }
    60% {
      filter: brightness(2.5);
    }
    70% {
      filter: brightness(3);
    }
    100% {
      filter: brightness(3);
    }
  }
  
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    position: relative;
  }
   
  .full-sun {
    width: 80px;
    height: 80px;
    left: 130px;
    background-color: transparent;
    position: relative;
    animation: sunUp 10s linear infinite;
  }